/* header */
.btn-acc {
  position: relative;
  margin-left: 20px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-color);
}

.btn-acc::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 1.5px;
  background-color: transparent;
  -webkit-transition:
    background-color 0.3s ease-in-out,
    bottom 0.1s ease-in-out;
  -o-transition:
    background-color 0.3s ease-in-out,
    bottom 0.1s ease-in-out;
  transition:
    background-color 0.3s ease-in-out,
    bottom 0.1s ease-in-out;
}

.btn-acc:focus::before {
  background-color: var(--pink-color);
}

@media (any-hover: hover) {
  .btn-acc:hover::before {
    background-color: var(--pink-color);
  }
}

.btn-acc:active::before {
  bottom: -3px;
  background-color: var(--pink-color);
}

.btn-clean-search {
  position: absolute;
  right: 21px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
  width: 14px;
  height: 14px;
  background-color: transparent;
  text-align: center;
  transform: translate(0, -50%);
  cursor: pointer;
}

.btn-clean-search:focus path {
  fill: var(--white-color);
  fill-opacity: 0.8;
}

@media (any-hover: hover) {
  .btn-clean-search:hover path {
    fill: var(--white-color);
    fill-opacity: 0.8;
  }
}

.btn-clean-search:active path {
  fill: var(--white-color);
  fill-opacity: 0.8;
}

/* header-mobile */
.header-mobile__link-btn {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  font-size: 0;
}

.header-mobile__link-btn path {
  fill: var(--white-color);
  fill-opacity: 1;
  transition: fill 0.3s ease-in-out;
}

.header-mobile__link-btn:focus path {
  fill: var(--violet-one-color);
}

@media (any-hover: hover) {
  .header-mobile__link-btn:hover path {
    fill: var(--violet-one-color);
  }
}

.header-mobile__link-btn:active path {
  fill: var(--violet-two-color);
}

/* film */
.button {
  padding: 16px 48px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--white-color);
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.button:focus {
  border-color: var(--violet-one-color);
  background-color: var(--violet-one-color);
}

@media (any-hover: hover) {
  .button:hover {
    border-color: var(--violet-one-color);
    background-color: var(--violet-one-color);
  }
}

.button:active {
  border-color: var(--violet-three-color);
  background-color: var(--violet-three-color);
}

.button:disabled {
  display: none;
}

.button--violet-text {
  border: 1px solid var(--violet-two-color);
  background-color: var(--violet-two-color);
}

.button--gray-text {
  border: 1px solid var(--black-opacity-color);
  background-color: var(--gray-one-color);
}

.button--gray-icon {
  padding: 16px 23px;
  border: 1px solid var(--black-opacity-color);
  border-radius: 28px;
  background-color: var(--gray-two-color);
  font-size: 0;
}

.button--gray-icon path {
  transition: fill 0.3s ease-in-out;
}

.button--gray-icon:focus path {
  fill: var(--violet-one-color);
}

@media (any-hover: hover) {
  .button--gray-icon:hover path {
    fill: var(--violet-one-color);
  }
}

.button--gray-icon:active path {
  fill: var(--violet-three-color);
}

/* modal */
.button-close-modal {
  position: absolute;
  right: -72px;
  top: 0;
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 28px;
  background: var(--white-color);
  font-size: 0;
}

.icon-close-modal path {
  fill: var(--black-one-color);
  transform-origin: center;
  transition:
    transform 0.3s ease-in-out,
    fill 0.3s ease-in-out;
}

.button-close-modal:focus path {
  fill: var(--violet-three-color);
  transform: rotate(90deg);
}
@media (any-hover: hover) {
  .button-close-modal:hover path {
    fill: var(--violet-one-color);
    transform: rotate(90deg);
  }
}

.button-close-modal:active path {
  fill: var(--violet-two-color);
  transform: rotate(0deg);
}

.modal__btn-switch {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--black-one-color);
  transition: transform 0.3s ease-in-out;
}

.modal__btn-switch:focus {
  transform: scale(1.05, 1.05);
}

@media (any-hover: hover) {
  .modal__btn-switch:hover {
    transform: scale(1.05, 1.05);
  }
}

.modal__btn-switch:active {
  transform: scale(1, 1);
}

.modal__btn {
  width: 100%;
}

/* account */
.delete-film-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  display: block;
  border: none;
  border-radius: 30px;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  font-size: 0;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.delete-film-icon {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.delete-film-icon path {
  fill: var(--black-one-color);
  transition: fill 0.3s ease-in-out;
}

.delete-film-btn:focus {
  opacity: 1;
}

.delete-film-btn:focus .delete-film-icon {
  transform: scale(1.4);
}

.delete-film-btn:focus path {
  fill: var(--violet-three-color);
}

@media (any-hover: hover) {
  .delete-film-btn:hover {
    opacity: 1;
  }

  .delete-film-btn:hover .delete-film-icon {
    transform: scale(1.4);
  }

  .delete-film-btn:hover path {
    fill: var(--violet-one-color);
  }
}

.delete-film-btn:active {
  opacity: 1;
}

.delete-film-btn:active .delete-film-icon {
  transform: scale(1);
}

.delete-film-btn:active path {
  fill: var(--violet-two-color);
}

.delete-film-btn--visible {
  display: block;
}

/* media width */
@media (max-width: 1200px) {
  .btn-acc {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .btn-acc {
    font-size: 20px;
  }

  .btn-clean-search {
    right: 13px;
    width: 13px;
    height: 13px;
  }

  .btn-acc::before {
    bottom: -7px;
  }
}

@media (max-width: 575px) {
  .btn-clean-search {
    right: 14px;
    width: 14px;
    height: 21px;
  }

  .button-close-modal {
    right: 0;
    top: 0;
    padding: 22px;
    background: transparent;
  }

  .delete-film-btn {
    display: none;
  }
}
