.account__container-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 300px;
}

.account__wrap-error {
  padding-bottom: 300px;
}

.account__error-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-color);
}

@media (max-width: 575px) {
  .account__container-status {
    padding: 40px 20px 350px 20px;
  }

  .account__wrap-error {
    padding: 40px 20px 350px 20px;
  }

  .account__error-text {
    font-size: 20px;
  }
}
